<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.glacier.voice</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>glaciervoice</string>
			</array>
		</dict>
	</array>
	<key>account_external_number_preference</key>
	<string></string>
	<key>account_watch_notification_preference</key>
	<false/>
</dict>
</plist>
