<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cognitoPoolID</key>
	<string>us-east-1_NMNvpxGY3</string>
	<key>cognitoClientSecret</key>
	<string>lcnfu7tah3dnak62cg2bt15qmep29a494oskirhce6475e3u1fu</string>
	<key>cognitoClientID</key>
	<string>62jacjom72oe19kpjg5u6nrlm7</string>
	<key>cognitoIdentityPoolID</key>
	<string>us-east-1:81149e88-648e-4a66-a912-e062ce781cec</string>
	<key>defaultDomainAddress</key>
	<string>172.16.2.230</string>
	<key>defaultPublicDomainAddress</key>
	<string>talk.glaciersec.cc</string>
	<key>defaultPushPort</key>
	<string>4443</string>
	<key>s3BucketConstant</key>
	<string>glaciersec-profile-</string>
</dict>
</plist>
