<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cognitoPoolID</key>
	<string>us-east-1_11111111</string>
	<key>cognitoClientSecret</key>
	<string>11111111111</string>
	<key>cognitoClientID</key>
	<string>1111111111</string>
	<key>cognitoIdentityPoolID</key>
	<string>us-east-1:1111111-1111-1111-1111-111111111</string>
	<key>defaultDomainAddress</key>
	<string>172.16.2.230</string>
	<key>defaultPublicDomainAddress</key>
	<string>talk.glaciersec.cc</string>
	<key>defaultPushPort</key>
	<string>4443</string>
	<key>s3BucketConstant</key>
	<string>glaciersec-profile-</string>
</dict>
</plist>
