<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cognitoPoolID</key>
	<string></string>
	<key>cognitoClientSecret</key>
	<string></string>
	<key>cognitoClientID</key>
	<string></string>
	<key>cognitoIdentityPoolID</key>
	<string></string>
	<key>defaultDomainAddress</key>
	<string></string>
	<key>s3BucketConstant</key>
	<string></string>
</dict>
</plist>
